
.btn1 {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.text-center {
    text-align: center;
    font-size: 18px;
}

.col-xs-3 {
    width: 25%;
    font-size: 15px;
    padding: 5px;
}

.col-xs-12 {
    width: 100%;
    font-size: 16px;
}

.container {
  font-size: 16px;
}

#slider .slide-element h1 {
    font-size: 2.5em;
}

#slider .slide-element p {
    color: #2b3d3d;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: left;
}
